.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #70D6EF;
}

#footer2 {
    background: #10BAE4;
}
